version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: db-server
    ports:
      - "3306:3306"
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: ${TZ:-Asia/Seoul}
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init-sql:/docker-entrypoint-initdb.d
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    networks:
      default:
        aliases:
          - db-server

volumes:
  mysql-data:
    driver: local

networks:
  default:
    external: true
    name: pawbridge-network
