version: '3.8'

services:
  # 1. User Service
  user-service:
    image: ${DOCKER_USERNAME}/user-service:latest
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - CONFIG_SERVER_HOST=${CONFIG_SERVER_HOST}
      - CONFIG_USERNAME=${CONFIG_USERNAME}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - DB_URL=${DB_USER_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_ACCESS_TOKEN_EXPIRATION=${JWT_ACCESS_TOKEN_EXPIRATION}
      - JWT_REFRESH_TOKEN_EXPIRATION=${JWT_REFRESH_TOKEN_EXPIRATION}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_SECRET_KEY=${GOOGLE_SECRET_KEY}
      - REDIRECT_URI=${REDIRECT_URI}
      - OAUTH2_REDIRECT_URI=${OAUTH2_REDIRECT_URI}
      - GOOGLE_EMAIL=${GOOGLE_EMAIL}
      - GOOGLE_EMAIL_SECRET_KEY=${GOOGLE_EMAIL_SECRET_KEY}
      - NODE1_PRIVATE_IP=${NODE1_PRIVATE_IP}
      - NODE2_PRIVATE_IP=${NODE2_PRIVATE_IP}
      - NODE3_PRIVATE_IP=${NODE3_PRIVATE_IP}
      - NODE5_PRIVATE_IP=${NODE5_PRIVATE_IP}
      - EC2_HOST_1=${EC2_HOST_1}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  # 2. Community Service
  community-service:
    image: ${DOCKER_USERNAME}/community-service:latest
    container_name: community-service
    ports:
      - "8089:8089"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - CONFIG_SERVER_HOST=${CONFIG_SERVER_HOST}
      - CONFIG_USERNAME=${CONFIG_USERNAME}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - DB_URL=${DB_COMMUNITY_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - NODE1_PRIVATE_IP=${NODE1_PRIVATE_IP}
      - NODE2_PRIVATE_IP=${NODE2_PRIVATE_IP}
      - NODE3_PRIVATE_IP=${NODE3_PRIVATE_IP}
      - NODE5_PRIVATE_IP=${NODE5_PRIVATE_IP}
      - EC2_HOST_1=${EC2_HOST_1}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  # 3. Store Service
  store-service:
    image: ${DOCKER_USERNAME}/store-service:latest
    container_name: store-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - CONFIG_SERVER_HOST=${CONFIG_SERVER_HOST}
      - CONFIG_USERNAME=${CONFIG_USERNAME}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - DB_URL=${DB_STORE_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - ELASTICSEARCH_URIS=${ELASTICSEARCH_URIS}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - NODE1_PRIVATE_IP=${NODE1_PRIVATE_IP}
      - NODE2_PRIVATE_IP=${NODE2_PRIVATE_IP}
      - NODE3_PRIVATE_IP=${NODE3_PRIVATE_IP}
      - NODE5_PRIVATE_IP=${NODE5_PRIVATE_IP}
      - EC2_HOST_1=${EC2_HOST_1}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  # 4. Payment Service
  payment-service:
    image: ${DOCKER_USERNAME}/payment-service:latest
    container_name: payment-service
    ports:
      - "8084:8084"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - CONFIG_SERVER_HOST=${CONFIG_SERVER_HOST}
      - CONFIG_USERNAME=${CONFIG_USERNAME}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - DB_URL=${DB_PAYMENT_URL}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - TOSS_SECRET_KEY=${TOSS_SECRET_KEY}
      - NODE1_PRIVATE_IP=${NODE1_PRIVATE_IP}
      - NODE2_PRIVATE_IP=${NODE2_PRIVATE_IP}
      - NODE3_PRIVATE_IP=${NODE3_PRIVATE_IP}
      - NODE5_PRIVATE_IP=${NODE5_PRIVATE_IP}
      - EC2_HOST_1=${EC2_HOST_1}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
