version: '3.8'

services:
  # 1. Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  # 2. Kafka
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Listeners: Internal for Docker network, External for other nodes
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${NODE3_PRIVATE_IP}:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5

  # 3. Animal Service
  animal-service:
    image: ${DOCKER_USERNAME}/animal-service:latest
    container_name: animal-service
    ports:
      - "9020:9020"
    environment:
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=dev
      - EUREKA_INSTANCE_IP_ADDRESS=${NODE3_PRIVATE_IP}
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - CONFIG_SERVER_HOST=${CONFIG_SERVER_HOST} # Node-2 IP:8888
      - CONFIG_USERNAME=${CONFIG_USERNAME}
      - CONFIG_PASSWORD=${CONFIG_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_URL=${DB_URL}
      - SPRING_SQL_INIT_MODE=never
      - SPRING_BATCH_JDBC_INITIALIZE_SCHEMA=never
      - SPRING_BATCH_JOB_ENABLED=false
      - NODE1_PRIVATE_IP=${NODE1_PRIVATE_IP}
      - NODE2_PRIVATE_IP=${NODE2_PRIVATE_IP}
      - NODE3_PRIVATE_IP=${NODE3_PRIVATE_IP}
      - NODE5_PRIVATE_IP=${NODE5_PRIVATE_IP}
      - EC2_HOST_1=${EC2_HOST_1}
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
