version: '3.8'

services:
  elasticsearch:
    # [기존] 기본 이미지
    # image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0

    # [수정] nori 플러그인이 포함된 커스텀 이미지
    build:
      context: .
      dockerfile: Dockerfile
    container_name: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    networks:
      default:
        aliases:
          - elasticsearch

volumes:
  elasticsearch-data:
    driver: local

networks:
  default:
    external: true
    name: pawbridge-network
