spring:
  application:
    name: store-service

  profiles:
    active: local

  # DataSource 설정
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/pawbridge_store}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      region:
        static: ${AWS_REGION}
      s3:
        bucket: ${AWS_BUCKET_NAME}

  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100 # N+1 문제 완화 (Batch Size)

  # Kafka Consumer/Producer 상세 설정 (bootstrap-servers는 Config Repository에서)
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: store-service-group
      auto-offset-reset: earliest

# K8s Probe 설정 (Actuator)
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

server:
  port: 8083
